<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Seed Express</title>

    <meta charset="utf-8"/>
    <meta http-equiv="Content-Language" content="en" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">

    <link rel="stylesheet" href="css/style.min.css" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Seed Express</h2>
        </div>
      </div>
    </div>
    <!--
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script>window.d3 || document.write('<script src="js/lib/d3.v3.min.js">\x3C/script>')</script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>window.$ || document.write('<script src="js/lib/jquery2.1.0.min.js">\x3C/script>')</script>
    -->
    <script src="js/script.min.js"></script>
  </body>
</html>